*{
    margin: 0;
}

body{
    font-family: Roboto;
    background-color: #282a36;
    color:#f8f8f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

h1{
    background-color: #44475a;
    padding: 10px;
    text-align: center;
}

header {
    width: 100%;
}

#box{
    background-color: #44475a;
    padding: 80px;
    border-color: #bd93f9;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
}

input{
    background-color: #6272a4;
    border-style: none;
    border-radius: 5px;
    height: 30px;
    color: #f8f8f2;
    font-size:14px;
    -moz-appearance: textfield;

}

input:focus{
    outline: none;
}

a{
    color: #ffffff;
}
